body {
  font-family: 'Poppins', sans-serif;
  background-color: #333;
  width: 200px;
  height: 150px;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.buttons {
  width: 100%;
}
.buttons div {
  background-color: #222;
  float: left;
  width: 33%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  padding: 10px 0px;
}
.buttons div:nth-child(2) {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}
.buttons div.active {
  background-color: #333;
}

.status {
  position: absolute;
  background-color: #888;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  padding: 1px 0px;
}

.tab #input {
  font-family: 'Poppins', sans-serif;
  background-color: #444;
  height: 45px;
  width: calc(100% - 30px);
  border: 0px;
  border-radius: 0px;
  padding: 0px 15px;
  outline: 0 !important;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.tab #input::placeholder {
  opacity: 1;
  color: #888;
}
[type='time'] {
  background: #444 url('../img/clock.png') 92% 50% no-repeat !important;
}
[type='time']::-webkit-inner-spin-button {
  display: none;
}
[type='time']::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.tab button {
  float: left;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  border: 0px;
  border-radius: 0px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  height: 30px;
  outline: none;
}
.tab button:disabled {
  opacity: 0.6;
  cursor: no-drop;
}
.tab button#startBtn {
  background-color: #8bd490;
}
.tab button#stopBtn {
  background-color: #cb533d;
}
